﻿
<!DOCTYPE html>
<html>
<head>
    <title>Concesionario</title>
    <meta charset="utf-8" I>

</head>
<body>
    <main id="main">
        <h2>Servicios</h2>
        <hr />
        <section class="services">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"><i class="bx bx-car"></i></div>
                        <h4 class="title">Administrar Carros</h4>
                        <p class="description"> La administración de carros te permite buscar, editar y eliminar 
                            la información de los automóviles disponibles en el sistema. 
                            Puedes encontrar carros según criterios específicos, 
                            realizar modificaciones en los datos y eliminar los registros según sea necesario.</p>
                        <button onclick="location.href = '/Home/RegistrarProducto';" class="btn btn-enviar">Ir a Registrar Producto</button>
                    </div>
                    <div class="icon-box icon-box-blue">
                        <div class="icon"><i class="bx bx-add-to-queue"></i></div>
                        <h4 class="title">Agregar Carro</h4>
                        <p class="description"></p>
                        <button onclick="location.href = '/Home/Comprar';" class="btn btn-enviar">Ir a Catalogo</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>

